.payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);  /* Light border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Subtle shadow */
    padding: 0.5rem;                       /* Optional padding */
    border-radius: 4px;  
    align-items: center; /* Vertically center children */     
}

.payment-container > * {
  flex: 1;
  text-align: center; /* Optional: centers content within each child */
}

.payment-container > :first-child {
  text-align: left; /* Align first child to left */
}

.payment-container > :last-child {
  text-align: right; /* Align last child to right */
}

.btn.btn-open {
  margin-bottom: 1rem; /* Adds space below the Add Payment button */
}

.group-edit {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.delete-button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff4d4f; /* Red background indicates delete */
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-top: 0.5rem; /* Optional: adds space above the button */
}

.delete-button:hover {
  background-color: #ff7875;
}

.add-button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #3992ff; /* Blue background */
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.add-button:hover {
  background-color: #66a8ff; /* Lighter blue on hover */
}

.bottom-space {
  margin-bottom: 1rem;
}

.payment-intructions {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
}